/* header */
header {
    width:100%; margin: 0 auto;
    position: fixed; z-index:999;
}
header nav {
    width: calc(100% - 240px); margin: 20px auto 0;
    border-top: 1px solid #FF697B;
    border-bottom: 4px solid #FF697B;
    display: flex; align-items: center; justify-content: space-between;
    padding:10px 0;
    background:rgba(255, 255, 255, 0.6);
}
header nav .gnb {}
header nav .gnb a {
    font-size:1.2rem; letter-spacing:-0.04em; font-weight:700;
    margin-right:30px; color:#2D4356;
}
header nav .gnb a:hover{color: #FF697B;}
header nav .email {}
header nav .email p {
    font-size: 1.25rem; color:#2D4356;
}



/* main */
main {
    background:url(../images/bg.jpg) no-repeat center fixed;
    background-size: cover;
}
/* section 묶음 */
main > * {
    width:calc(100% - 240px); /* height:100vh; */
    margin:0 auto 50px; padding-top:100px;
}
main > *:last-child {margin-bottom: 0;}
/* h1 묶음 */
main #web_redesign h1, 
main #web_landing h1,
main #design_sns h1,
main #design_card_news h1,
main #design_detail_page h1,
main #last_page h1 {
    font-size: 2.5rem; letter-spacing:-0.04em;
    font-family: 'Yeseva One', cursive;
    margin-bottom:50px;
    color:#2D4356;
}

/* home */
main #home {
    /* background:lightblue; */
    height:100vh; 
    display: flex; flex-flow: column nowrap; 
    justify-content: center; align-items: center;
}
main #home h1 {margin-top:30px;}
main #home h1 img {}
main #home .mouse {margin-top: 100px;}
main #home .mouse img {animation:mouse_move 1s linear alternate infinite;}
@keyframes mouse_move {
    0% {transform:translateY(0);}
    100% {transform:translateY(-20px);}
}

/* profile */
main #profile {
    /* background:lightgoldenrodyellow; */
    display:flex; flex-flow:column nowrap; 
    align-items:center; justify-content:center;
}
main #profile h1 {margin-bottom:50px;}
main #profile h1 img {}
main #profile .con {
    /* background:pink; */
    width:100%;
    display:flex; align-items:center;
    justify-content:center;
}
main #profile .con .con_left {
    display: flex; flex-flow: column nowrap;
    align-items: center;
    margin-right: 150px;
}
main #profile .con .con_left #photo {margin-bottom:30px;}
main #profile .con .con_left #photo img {
    width:400px; height:520px;
    border-radius:150px;
    border: 5px solid #ff9aa6;
}
main #profile .con .con_left .my_info {}
main #profile .con .con_left .my_info dl {
    display: flex; align-items: center;
    margin-top:10px;
}
main #profile .con .con_left .my_info dl dt {
    width:75px;
    font-size:1.25rem; letter-spacing:-0.04em; 
    font-weight:700;
    margin-right:30px;
}
main #profile .con .con_left .my_info dl dd {
    font-size:1.25rem; letter-spacing:-0.04em;
}
main #profile .con .con_right {
    /* background:lightgoldenrodyellow; */
    display:flex; flex-flow: column nowrap;
    justify-content: center;
    position:relative;/* skill_info 기준 */
}
main #profile .con .con_right dl {
    margin-bottom:60px;
}
main #profile .con .con_right dl:last-child {margin-bottom:0;}
main #profile .con .con_right dl dt {
    font-size: 1.6875rem; letter-spacing:-0.04em; 
    font-weight:700;
    margin-bottom:25px;
}
main #profile .con .con_right dl dd {
    font-size: 1.25rem; letter-spacing:-0.04em;
    line-height:35px;
}
main #profile .con .con_right dl dd span {
    font-size: 1.25rem; letter-spacing:-0.04em;
    font-weight: 500; margin-right:15px;
}
main #profile .con .con_right .skill {}
main #profile .con .con_right .skill dd {
    /* background:lightblue; */
    width:650px;
    display: flex; justify-content: space-between;
}
main #profile .con .con_right .skill dd img {
    width:50px;
    transform:scale(1.0);
    transition: all 0.5s ;
}
main #profile .con .con_right .skill dd img:hover {
    transform:scale(1.15);
    transition:transform.5s;
}
main #profile .con .con_right .skill_info {
    position:absolute; bottom:25px; left:-20px;
    display:flex; justify-content: space-between;
    /* display:none; */
}
main #profile .con .con_right .skill_info p {
    padding:5px; background:#FF697B; color:#fff;
    border-radius:10px;
    font-family: 'Yeseva One', cursive;
}
#photoshop {}
#illustator {margin-left:75px;}
#html {margin-left:170px;}
#css {margin-left:255px;}
#js {margin-left:330px;}
#git {margin-left:405px;}
#php {margin-left:478px;}
#gnuboard {margin-left:523px;}
#figma {margin-left:615px;}

/* web_redesign */
main #web_redesign {
    /* background:lightgoldenrodyellow; */
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #web_redesign h1 {}
main #web_redesign .con {
    display: flex; flex-flow: column nowrap;
    width:100%;
}
main #web_redesign .con > div {
    display:flex; align-items:center; justify-content:center;
    background:rgba(255, 255, 255, 0.7);
    /* background:#fff;  */
    height:333px;
    width:100%;
    border-radius:30px;
}
main #web_redesign .con > div img {
    width:37%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
main #web_redesign .con > div .p_con {
    width:63%;
    display: flex; flex-flow: column nowrap; 
    align-items: center;
}
main #web_redesign .con > div .p_con h2 {
    font-size:1.8rem; letter-spacing:-0.04em; font-weight:700;
    margin-bottom:30px;
}
main #web_redesign .con > div .p_con .p_info {
    margin-bottom:30px;
}
main #web_redesign .con > div .p_con .p_info > p {
    font-size: 1.2rem; letter-spacing: -0.04em; font-weight:700;
    margin-bottom:10px;
}
main #web_redesign .con > div .p_con .p_info .p_info_txt {}
main #web_redesign .con > div .p_con .p_info .p_info_txt dl {
    display: flex;
}
main #web_redesign .con > div .p_con .p_info .p_info_txt dl dt {
    font-size: 1.15rem; line-height: 32px; font-weight: 500;
    width:130px; margin-right:15px;
}
main #web_redesign .con > div .p_con .p_info .p_info_txt dl dd {
    font-size: 1.15rem; line-height: 32px;
}
main #web_redesign .con > div .p_con .link {
    width:100%;
    display:flex; align-items:center; justify-content:center;
}
main #web_redesign .con > div .p_con .link a {
    letter-spacing:-0.04rem; font-weight:500;
    text-align:center;
    background:#000; color:#fff;
    padding:18px 0;
    width:240px;
    margin-right:30px;
}
main #web_redesign .con > div .p_con .link a:last-child {margin-right:0;}
main #web_redesign .con .project_01 .p_con .link a:hover {
    background:#CA1D31;
}
main #web_redesign .con .project_02 .p_con .link a:hover {
    background:#F56F98;
}
main #web_redesign .con .project_01 {
    margin-bottom:50px;
}
main #web_redesign .con .project_01 .p_con h2 {
    color:#CA1D31;
}
main #web_redesign .con .project_02 .p_con h2 {
    color:#F56F98;
}

/* web_landing */
main #web_landing {
    /* background:lightgoldenrodyellow; */
    display:flex; flex-flow: column nowrap;
    align-items: center;
}
main #web_landing h1 {}
main #web_landing .con {
    width:100%;
    display:flex; align-items: center; justify-content:center;
    padding-bottom:100px;
}
main #web_landing .con > div {
    display: flex; flex-flow:  column nowrap; align-items: center;
}
main #web_landing .con > div .link_bg {
    background:url(../images/landin_1_mockup.jpg) no-repeat center;
    background-size:cover;
    width:700px; height:500px;
    margin-bottom:30px;
    transition: all 0.5s;
    border:1px solid #dddddd;
}
main #web_landing .con > div .link_bg:hover {
    background:url(../images/landin_1_mockup_hover.jpg) no-repeat center;
    background-size:cover;
}
main #web_landing .con .project_02 .link_bg {
    background:url(../images/landin_2_mockup.jpg) no-repeat center;
    background-size:cover;
    width:700px; height:500px;
    margin-bottom:30px;
    transition: all 0.5s;
}
main #web_landing .con .project_02 .link_bg:hover {
    background:url(../images/landin_2_mockup_hover.jpg) no-repeat center;
    background-size:cover;
}
main #web_landing .con > div .link_bg .link {
    display: flex; flex-flow: column nowrap; align-items: center;
    margin-top:250px;
    display: none;
    transition: all 0.5s;
}
main #web_landing .con > div .link_bg .link a {
    background:#000; color:#fff;
    width:300px; text-align: center;
    padding:20px 0;
    margin-bottom:10px;
    transition: all 0.3s;
}
main #web_landing .con > div .link_bg .link a:last-child {margin-bottom:0;}
main #web_landing .con > div h2 {
    font-size: 1.5rem; letter-spacing:-0.04em; font-weight: 700;
}
main #web_landing .con .project_01 {margin-right:100px;}
main #web_landing .con .project_01 h2 {
    background: linear-gradient(90deg, #2EBC83 11.61%, #000 49.57%, #F96666 85.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main #web_landing .con .project_02 h2 {
    color:#799B44;
}
main #web_landing .con > div .link_bg:hover .link {display: flex;}
main #web_landing .con > div .link_bg .link a:hover {background: linear-gradient(90deg, #2EBC83 11.61%, #000 49.57%, #F96666 85.44%);}
main #web_landing .con .project_02 .link_bg .link a:hover {background:#799B44;}

/* design_sns */
main #design_sns {
    /* background:lightgoldenrodyellow; */
    display: flex; flex-flow: column nowrap;
    align-items: center;
    /* padding-top:200px; */
}
main #design_sns h1 {}
main #design_sns .con {
    width:100%;
    display: flex; flex-flow: column nowrap; 
    align-items: center; justify-content: space-between;
}
main #design_sns .con .banner_wrap {
    width:100%;
    display: flex; justify-content:space-between;
    margin-bottom:50px;
}
main #design_sns .con .banner_wrap .banner {}
main #design_sns .con .banner_wrap a:last-child {text-align:right;}
main #design_sns .con .banner_wrap .banner img {
    width:98%; filter: grayscale(80%);
    transform:scale(1.0);
    transition: all 0.5s;
}
main #design_sns .con .banner_wrap .banner img:hover {
    filter:none;
    transform:scale(1.05);
    transition:transform 0.5s;
}
main #design_sns .con .sns_wrap {
    width:100%;
    display: flex; justify-content:space-between;
}
main #design_sns .con .sns_wrap .sns {}
main #design_sns .con .sns_wrap .sns img {
    width:250px; height:250px;
    width:98%; filter: grayscale(80%);
    transform:scale(1.0);
    transition: all 0.5s;
}
main #design_sns .con .sns_wrap .sns img:hover {
    filter:none;
    transform:scale(1.08);
    transition:transform 0.5s;
}

/* card_news */
main #design_card_news {
    /* background:lightgoldenrodyellow; */
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #design_card_news h1 {}
main #design_card_news .con {
    width:100%;
}
main #design_card_news .con .card_news_wrap {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main #design_card_news .con .card_news_wrap .card_news {width:20%; margin: 15px;}
main #design_card_news .con .card_news_wrap .card_news img {
    width:100%;
    filter: grayscale(80%);
    transform:scale(1.0);
    transition: all 0.5s;
}
main #design_card_news .con .card_news_wrap .card_news img:hover {
    filter:none;
    transform:scale(1.05);
    transition:transform 0.5s;
}

/* detail_page */
main #design_detail_page {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main #design_detail_page h1 {}
main #design_detail_page .con {width:100%;}
main #design_detail_page .con .design_detail_page_wrap {
    display: flex; flex-flow: row nowrap; justify-content:center;
}
main #design_detail_page .con .design_detail_page_wrap .detail_page {
    width:30%; margin:30px;
}
main #design_detail_page .con .design_detail_page_wrap .detail_page img {
    width:100%;
}

/* last_page */
main #last_page {
    text-align: center; height:100vh;
    margin:0 auto;
}
main #last_page h1 {
    margin-top:180px; line-height:116px;
    font-size: 6.25rem; letter-spacing:-0.04em;
    text-align: start;
}



#mouse {
    width:50px; height:50px;
    /* background:#fff; */
    /* border:3px solid #FF697B; */
    background:url(../images/hart.png) no-repeat center;
    background-size:60%;
    /* border-radius:50%; */
    /* 화면 최상단 스크롤 상관없이 고정 마우스 따라가는 CSS */
    position:fixed; left:0; top:0; z-index:999;
		transform: translate(-20%, -45%); /*마우스 중심에 오게 위치 조정*/
		transition:all 0.2 linear; /* 단순히 고정되서 따라오는 것이 아닌 뒤늦게따라오는 느낌 */
		/* 필수속성:마우스 따라다니는 이미지 만들경우 */
    /* (위)링크, 버튼 등 선택이 안되는 문제 해결 */
    pointer-events:none;
}

/* popup */
#sns_popup {
    position:fixed; left:0; top:0;
    width:100%; height:100vh; z-index:9999;
    background:rgba(255, 255, 255, 0.5);
}
#sns_popup .contents {
    background:aqua;
    width:800px; height:800px;
    margin:100px auto 0; 
    /* overflow-y:auto; *//* 새로가 부족할 시 스크롤 나오게 하기 */
}
#sns_popup .contents img {width:100%;}

#bnr_popup {
    position:fixed; left:0; top:0;
    width:100%; height:100vh; z-index:9999;
    background:rgba(0, 0, 0, 0.5);
}
#bnr_popup .contents {
    background:black;
    width:1200px; height:400px;
    margin:250px auto 0; 
}
#bnr_popup .contents img {width:100%;}